<!DOCTYPE html>
<html {{ site.language_attributes }}>
  <head>
    <meta charset="{{ site.charset }}" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    {{ function('wp_head') }}
  </head>
  <body {{ body_class }}>
    <div class="umbral-editor">
      <div class="umbral-editor__sidebar">
        <div class="umbral-editor__form">
          <div class="umbral-editor__form-content">
            {{ createEditorForm(editor.form) }}
          </div>
        </div>
      </div>
      <div class="umbral-editor__preview">
        <iframe src="{{ post.link }}?editor=preview" frameborder="0"></iframe>
      </div>
    </div>
    {{ function('wp_footer') }}
  </body>
</html>
