{% if menu %}
  <ul class="nav-menu">
    {% for item in menu %}
      <li class="{{ item.classes|join(' ') }}">
        <a href="{{ item.link }}">{{ item.title }}</a>
        {% if item.children %}
          <ul class="sub-menu">
            {% for child in item.children %}
              <li class="{{ child.classes|join(' ') }}">
                <a href="{{ child.link }}">{{ child.title }}</a>
              </li>
            {% endfor %}
          </ul>
        {% endif %}
      </li>
    {% endfor %}
  </ul>
{% endif %}
